<nav>
  <img src="../../../assets/images/logo.svg" alt="sirius logotipo" class="logotipo">
  <div class="nav-list">
      <div class="nav-list-item">
        <div class="nav-icon">
          <img src="../../../assets/images/cart.svg" alt="">
        </div>
        <p class="nav-item-link">Carrinho</p>
      </div>
      <div class="nav-list-item">
        <div class="nav-icon">
          <img src="../../../assets/images/bag.svg" alt="">
        </div>
        <p class="nav-item-link">Minhas compras</p>
      </div>
    <div class="nav-list-item" (click)="openSingUp()">
      <div class="nav-icon">
        <img src="../../../assets/images/user.svg" alt="">
      </div>
      <p class="nav-item-link">Entrar</p>
    </div>
  </div>
</nav>
